@{
  Layout = "_Layout";
}

@using Library.Models;
@using System.Security.Claims
@model List<Library.Models.Book>;

<h1>Books</h1>

@if (@Model.Count == 0)
{
  <h3>There are no books. Much Sad.</h3>
}

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  @foreach(Book book in Model)
  {
    <tr>
    <td>@Html.ActionLink($"{book.Name}", "Edit", new { id = book.BookId })</td>
    <td>@Html.ActionLink("Edit", "Edit", new { id = book.BookId }) | @Html.ActionLink("Delete", "Delete", new { id = book.BookId })</td>
    </tr>
  }
  </tbody>
</table>

<input type="button" class="btn btn-primary" value="Add a New Book" onclick="location.href='@Url.Action("Create", "Books")'" />
<input type="button" class="btn btn-primary" value="Home" onclick="location.href='@Url.Action("Index", "Home")'" />